// Colors
$purple: rgba(100, 76, 121, 1);
$blue: #01a0e0;
$bg: #ffffff;
$fg: #f4f4f4;
$textColor: #333333;
$columnHeadingColor: rgba(0, 52, 121, 1);

// spacing
$spacing-xs: 15px;
$spacing-s: 21.5px;

// Dimensions
$desktopMaxWidth: 1220px;

// Header height
$headerHeight: 94px;

// Footer height
$footerHeight: 186px;
